.para{
    font-size: 15px;
    font-family: 'Courgette', cursive;
    text-align: justify;
}

.highlight{
    color:#3C98C3;
}

address{
    font-family: 'Patua One', cursive;
}

.about_para{
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    text-align: justify;
}

.footer{
    color : black;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #CCCCCC;
    text-align: right;
}

.active-page{
    font-weight: bold;
}
